:root {
  --black: #161616;
  --main-color: #c95b4f;
  --white: #efefef;
}

body {
  background-color: var(--main-color);
}

* {
  font-family: "nunito", sans-serif;
  color: var(--black);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 68px;
  padding: 0 10px;
  background-color: var(--main-color);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0px;
}

.header-inside {
  display: flex;
  justify-content: space-between;
}

span.size-48 {
  font-size: 48px;
  /* font-variation-settings: "OPSZ" 40; */
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 48;
}

.floating-button {
  position: absolute;
  top: 37%;
  right: 10px;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.15);
}
