body {
  padding: 0;
  margin: 0;
  /* no vertical scroll */
  overflow: hidden;
  position: fixed;
}

span {
  font-family: "Yeseva One";
  font-size: 50px;
  line-height: 50px;
  backdrop-filter: blur(15px);
}

#container {
  position: relative;
}

#UIOverlay {
  position: absolute;
}

#landingOverlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: #c95b4f;
}

#onboardingOverlay {
  height: 90%;
  width: 90%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #c95b4f;
}
